/* Footnotes section styling */
aside.footnote-list {
  margin-top: 4rem;
  border-top: 1px solid var(--color-background-border);
  padding-top: 1rem;
}

/* https://github.com/pradyunsg/furo/issues/28#issuecomment-1380549435 */
.theme-toggle-container {
  display: none;
}

/* Hide default footer */
div.bottom-of-page {
  display: none;
}

img.sidebar-logo {
  border-radius: 1rem;
}

a.headerlink {
  text-decoration: none;
}

a.headerlink:hover {
  text-decoration: none;
  font-weight: 500;
}

div.related-pages {
  margin-bottom: 1rem;
}

/* Set caption below tables */
table.docutils {
  caption-side: bottom;
}

/* Gap between caption and table */
table.docutils caption {
  margin-top: 0.5rem;
}

.strike {
  text-decoration: line-through;
}

/* Color for line numbers in code blocks */
.highlight span.linenos {
  color: lightgray;
  box-shadow: -0.0625rem 0 lightgray inset;
}

/* Change color when selecting text */
::selection {
  background: #a8d1ff;
}

::-moz-selection {
  background: #a8d1ff;
}

/* Button to hide mobile menu -> Zen mode for presentations */
#btn-hide-menu {
  width: 1.5rem;
}

/* Dynamic TOC (Gumshoe) */
/* https://github.com/cferdinandi/gumshoe#nested-navigation */
.toc-tree > ul > li > ul > li:not(.scroll-current) > ul,
.toc-tree > ul > li > ul > li > ul > li:not(.scroll-current) > ul,
.toc-tree
  > ul
  > li
  > ul
  > li
  > ul
  > li
  > ul
  > li:not(.parent-scroll-current)
  > ul {
  display: none;
}

/* Disable smooth scroll */
html {
  scroll-behavior: auto;
}
