/* Force light background */
:root {
  --color-problematic: #b30000;

  /* Base Colors */
  --color-foreground-primary: black; /* for main text and headings */
  --color-foreground-secondary: #5a5c63; /* for secondary text */
  --color-foreground-muted: #72747e; /* for muted text */
  --color-foreground-border: #878787; /* for content borders */

  --color-background-primary: white; /* for content */
  --color-background-secondary: #f8f9fb; /* for navigation + ToC */
  --color-background-hover: #efeff4ff; /* for navigation-item hover */
  --color-background-hover--transparent: #efeff400;
  --color-background-border: #eeebee; /* for UI borders */

  /* Announcements */
  --color-announcement-background: #000000dd;
  --color-announcement-text: #eeebee;

  /* Brand colors */
  --color-brand-primary: #2962ff;
  --color-brand-content: #2a5adf;

  /* Highlighted text (search) */
  --color-highlighted-background: #ddeeff;

  /* GUI Labels */
  --color-guilabel-background: #ddeeff80;
  --color-guilabel-border: #bedaf580;

  /* API Documentation */
  --color-api-highlight-on-target: #ffffcc;

  /* Admonitions */
  --color-admonition-background: transparent;
}
