/* Footnotes section styling */
dl.footnote {
  margin-top: 4rem;
  border-top: 1px solid var(--color-background-border);
  padding-top: 1rem;
}

/* Button to remove prompt in Python code */
.copybutton {
  cursor: pointer;
  position: absolute;
  color: var(--color-link);
  font-weight: bold;
  top: 0;
  right: 0;
  font-family: monospace;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 90%;
}

/* Custom box for difficulty levels */
.difficulty-level {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-weight: 600;
  font-size: 90%;
}
.beginner-level {
  color: #246398;
  border: 1px solid #246398;
  border-left: 7px solid #246398;
}
.intermediate-level {
  color: #176f36;
  border: 1px solid #176f36;
  border-left: 7px solid #176f36;
}
.advanced-level {
  color: #9e5d17;
  border: 1px solid #9e5d17;
  border-left: 7px solid #9e5d17;
}

/* Badges */
.badges {
  margin-bottom: 1rem;
}
.badges span {
  padding-right: 0.5rem;
}

/* Center alignment on brand template */
.sidebar-brand {
  align-items: center;
}

/* Enlarge figures to full width */
article .figure.align-default {
  margin-left: 0;
  transform: none;
}
